<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Pc World</h1>
    <p>Hi Welcome to the Pc World Admin page</p>
    <a href="/addStore">Stores</a>
    <a href="/staff">Staff</a>
  </body>
</html>
